/* Prevent text-size-adjustements */

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
}

/*
Design
Golden Section module used;
available at http://modularscale.com/scale/?px1=18&px2=&ra1=1.618&ra2=0
*/

html, body {
    font-family: "Lato", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em; /* ?px */
    line-height: 1.125em; /* 18px */
    }





/* Text */

header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px auto;
    z-index: 10;
}

img {
    padding: 0;
    margin: 0;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 1.618em; /* 29.124 px */
  line-height: 1em; /* 47.123 px */
  text-transform: uppercase;
  padding-bottom: 1em;
}

h2 {
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 1em;
}

h3 {
    font-weight: 300;
}

p {
  color: #303030;
  padding-bottom: 1em;
  font-weight: 300;
}

a {
  color: #707070;
  text-decoration: underline;
}

a:hover {
  color:#303030;
}






/* Box */

.cont2ent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px auto;
margin: 0px;
z-index: 1;
text-align: center;
}

.conte2nt ul, li {
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
display: inline-block;
}





/* Introduction */

#introduction {
  min-width: 100%;
  min-height: 100%;
  background: url("/img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
  height: 100vh;
}

#introduction h1 {
  font-size: 2.618em; /* 47.123 px */
  line-height: 1.2em;
  color: #FFF;
  padding-bottom: .2em;
}

#introduction h2 {
  font-size: 1.125em;
  line-height: 1.5em;
  color: #F8F8F8;
  font-weight: 300;
}





/* About */

#about {
  min-width: 100%;
  min-height: 100%;
  background-color: #FFF;
position: relative;
height: 75vh;
margin-left: auto;
margin-right: auto;
    margin: 0px auto;
    z-index: 11;
}

#about h1 {
  padding-bottom: 0;
}

.social {
    padding-top: 1em;
    text-align: center;
}





/* Interests */

#interests {
  min-width: 100%;
  background-color: lightgray;
position: relative;
min-height: 100vh;
margin-left: auto;
margin-right: auto;
    margin: 0px auto;
    z-index: 11;

}

#interests h1 {
  padding-bottom: 0em;
}

#interests h2 {
  text-transform: uppercase;
  padding-top: 2em;
  color: #404040;
}

#interests p {
  color: #505050;
}





/* Contact */

#contact {
  background-color: darkgray;
  text-align: center;
  height: 50vh;
}

#contact h3 {

  padding: .5em;
  font-size: 1em;
  color: #404040;
 display: inline;
}

#contact li {
display: inline-block;
}





/* License */

#license {
  color: #F8F8F8;
  background-color: lightgray;
  text-align: center;
  padding: 1em;
  font-weight: 300;
}

#license a {
  display: inline;
  color: #F8F8F8;
}





/* Media Query */

@media screen and (min-width: 10em) {
  p2 {
    padding-left: 2em;
    padding-right: 2em;
  }

  img {
    width: 8em;
  }
}

@media screen and (min-width: 50em) {
  p2 {
    padding-left: 9em;
    padding-right: 9em;
  }

  img {
    width: 10em;
  }

}

@media screen and (min-width: 75em) {
  p2 {
    max-width: 40em;
    margin: 0 auto;
  }

  img {
    width: 10em;
  }
}
